<div class="container" style="max-width: 400px; margin-top: auto;">

  <form autocomplete="on" #f="ngForm">

      <div class="ui-g-12">
        <h1>Login</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <input pInputText type="email" name="usuario" placeholder="E-mail"
          ngModel required #usuario>
      </div>

      <div class="ui-g-12 ui-fluid">
        <input pInputText type="password" placeholder="Senha" name="senha"
           ngModel required #senha>
      </div>

      <div class="ui-g-12 ui-fluid">
        <button pButton label="Login" type="submit" [disabled]="f.invalid"
          (click)="login(usuario.value, senha.value); senha.value = '';"></button>
      </div>

    </form>

</div>
